body {
    font-size: 18px;
    line-height: 1.5;
    
}

header, footer {
    background-color: cornflowerblue;
    padding: .5rem;
   
}

img {
    width: 125px;
    height: 200px;
    border: 1px solid #fff;
    border-radius: 8px;
    padding: 5px
    
}